body{
  background-color: rgb(44, 43, 43);
  line-height: 1.34;
}

.formContainer{
  background-color: rgb(188, 188, 188);
  width: 431.998px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-30%);
  padding: 10px 16px;
  border-radius: 10px;
}

button{
  width: 100%;
}

 /* Set a style for the buttons*/  
 /* Set a hover effect for the button*/  
button:hover {  
    opacity: 0.8;  
}  
